#
# SPDX-License-Identifier: MIT
#
# Copyright (C) 2025 Daniel Bourdrez. All Rights Reserved.
#
# This source code is licensed under the MIT license found in the
# LICENSE file in the root directory of this source tree or at
# https://spdx.org/licenses/MIT.html
#

---

name: Run Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions: { }

jobs:
  Test:
    name: Test Go
    strategy:
      fail-fast: false
      matrix:
        go: ['1.25']
    uses: bytemare/workflows/.github/workflows/test-go.yaml@6b6b2069083d1ce7d0b2b61636f5bf6c784b5b43
    with:
      version: ${{ matrix.go }}
  Mutation:
    name: Mutation Testing with Gremlins
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go: ['1.25']
    steps:
      - name: Checkout repo
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
        with:
          fetch-depth: 0

      - name: Init go
        uses: bytemare/actions/init-go@632e91df0441cb63611b4909d8e33550cf0b5835
        with:
          go-version: ${{ inputs.version }}
