#
# SPDX-License-Identifier: MIT
#
# Copyright (C) 2025 Daniel Bourdrez. All Rights Reserved.
#
# This source code is licensed under the MIT license found in the
# LICENSE file in the root directory of this source tree or at
# https://spdx.org/licenses/MIT.html
#

---

name: Run Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions: { }

jobs:
  Test:
    name: Test Go
    strategy:
      fail-fast: false
      matrix:
        go: ['1.26']
    uses: bytemare/workflows/.github/workflows/test-go.yaml@9f63338669a69dc34a67fea9ecfb7fd9fcd0d35d
    with:
      version: ${{ matrix.go }}
